body{
  font-family: Arial, sans-serif;
}

.form, .list-box{
  margin: 30px auto;
}

.form{
  padding: 5px;
  text-align: center;
  width: 500px;
}

.list-box{
  padding: 0;
  max-width: 600px;
  min-width: 300px;
}

.item{
  display: inline-block;
  padding: 5px;
  margin: 5px 8px;
  background: rgb(80,255,90);
  color: #fff;
  border-radius: 5px;
}
